body {
	background: radial-gradient(circle,black,white);
	background-image: url('../img/xfilesface copy.jpg'), url('../img/government.jpg');
	background-repeat: ®repeat;
	background-position: center;
	font-family: sans-serif;
	text-align: center;
	color: #9cf945;
	background-color: black;
	display: flex

}

.container {

  /* can be treated like a fallback */
  background-color: black;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(circle,black, white);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: black;
  background: linear-gradient(circle,black, white);

}

.left {
	display: grid;
	opacity: 80%;

}

.conspTitle {
	color: #8a2be2;

}

.conspContent{
	color: #7fff00;
	font-family: courier;
	font-size: 12px;
}

.right {
	opacity: 80%;

}
.statList {
	justify-content: left;
}
.green{
	color: #995bd5;
	font-weight: bold;
}
h1 {
	font-size: 4em;
	justify-content: center;
}

h2 {
	font-size: 2em;
	justify-content: center;
}

input {
	font-size: 72px;
	max-width: 100%;
	border: none;
	border-radius: 10px;
	background-color: #black;
	text-align: center;
	outline: none;
	background-color: #101010;
	outline-width: thin;
	color: rgba(165,89,165,0.8);
}

input:focus {
	outline: none;
	background-color: #101010;
	outline-width: thin;
	color: rgba(165,89,165,0.8);
}

button {
	display: block;
	cursor: pointer;
	width: 150px;
	height: 90px;
	color: white;
	font-size: 22px;
	border: 6px solid black;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
}

p {
	text-align: center;
	font-size: 22px;
}

p span {
	font-size: 96px;
	color: #bff244;
}

.container {
	margin: 0 auto;
	width: 420px;
}

.controls {
	position: relative;
	margin: 0 auto;
	width: 270px;
}

.hide {
	display: none; /* default value that is changed via javascript */
}

#response {
	color: #FF6666;
}

#start {
	background-color: #ff00ea;
	border-color: #995bd5;
}

#stop {
	background-color: #ff00ea;
	border-color: #995bd5;
	margin-top: 40px;
}
.data {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
	font-weight: bold;
}

.texto {
	font-family: sans-serif;
	font-weight: bold;
	color: #3F5Ff2;
}
